::selection{
	background-color: #D7C997;
}

::-moz-selection{
	background-color: #D7C997;
}
body
{
	font-family: Helvetica, Arial, sans-serif;
	background: url(../Images/diagonal-noise.png) #ddd;
}

div
{
	display: block;
	overflow:hidden;
}

.main
{
	width: 100%;
	max-width: 900px;
	min-width: 700px;
	min-height: 500px;
	margin: 20px auto;
}

header
{
	width: 100%;
	height: 100px;
	background-color: white;
	border-radius: 5px;
	overflow:hidden;

}

.title
{
	font-size: 35px;
	font-weight: bold;
	height: 100px;
	width: 50%;
	margin-left: 10%;
	position: relative;
	float: left;
	line-height: 100px;
	text-shadow: 2px 2px 5px #ccc;
}

.linkholder
{
	width: 40%;
	height: 100%;
	display:block;
	position: relative;
	float: left;
}

.link
{
	cursor: pointer;
	height: 100%;
	width: 25%;
	position: relative;
	float: left;
	color: #000;
	opacity: 0.4;
	/*-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;*/
}


.linktext
{
	cursor: pointer;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.link:hover 
{
	opacity: 1;
	color: #000;
	text-shadow: 1px 1px 0 #fff;
	background-color: #eee;
}

.link:hover img{
	opacity: 1;
}

.content
{
	width: 100%;
	margin-top: 20px;
	min-height: 300px;
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
}

.inner{
	width: 80%;
	margin: 20px 10% 20px 10%;
	height: auto;
	font-size: 20px;
	line-height: 1.5;
}
