body {
  background-image: url("../images/diagonal-noise.png");
  background-color: #e2e2e2;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.container {
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 1000px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

header hgroup {
  margin: 0 7.6%;
}

#site-title {
  margin-top: 1.6em;
}

#site-description {
  font-size: 17px;
  color: #7a7a7a;
  margin-bottom: 2em;
  font-weight: normal;
  line-height: 1.3em;
}

nav#access {
  background-color: #222;
  background:-moz-linear-gradient(#252525, #0a0a0a);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a));
  color: white;
  font-size: 15px;
  overflow: hidden;
  -webkit-box-shadow:rgba(0, 0, 0, 0.4) 0px 1px 2px;
  box-shadow:rgba(0, 0, 0, 0.4) 0px 1px 2px;
}

ul.nav.custom-nav {
  margin-bottom: 0;
  margin-left: 6%;
}

ul.custom-nav li {
  margin-left: 0.5em;
}

ul.custom-nav li a {
  color: white;
  line-height: 1.4em;
}

ul.custom-nav li a:hover {
  color: black;
  background-color: ##efefef;
}

#main {
  clear: both;
  margin-top: 2em;
}

#content {
  margin: 0 7.6%;
  padding-bottom: 30px;
}

section {
  padding-top: 30px;
}

.sns {
  display: block;
  overflow: hidden;
}

.sns a {
  margin-top: 2em;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin-right: 10px;
  position: relative;
}

.sns a img {
  width: 100%;
  height: 100%;

}

@media (max-width: 800px) {
    body {
        font-size: 14px;
    }
}


@media (max-width: 650px) {
    body {
        font-size: 13px;
    }
    #site-title, h1 {
        font-size: 24px;
    }
    h1 small {
        font-size: 16px;
    }
    #site-description{
        font-size: 12px;
    }
    section {
        padding-top: 15px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        padding: 0;
    }
}


/*rescue time stuff*/

div.rtdiv {
  width: 90%;
  margin: 0 auto;
}